body {
  background-color: rgb(25, 25, 25);
}

#editor1 {
    position: absolute;
    width: 500px;
    height: 250px;
}

#editor2 {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 290px;
}

#button_run {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 560px;
}
